@font-face {
    font-family: 'Qwitcher_Grypen';
    src: url('../assets/fonts/Qwitcher_Grypen/QwitcherGrypen-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: 'Dancing_Script';
    src: url('../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf');
}