@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFEC4;
    box-sizing: border-box;
    height: 100vh;
}

p::selection, h1::selection, h2::selection, h3::selection, a::selection, span::selection {
    color: #FFF7D1;
    background: #FFB0B0;
}

.cabecalho {
    background-color: #FF9B9B;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 4%;
}

.cabecalho__logo {
    font-family: 'Qwitcher_Grypen';
    font-size: 4rem;
}

.cabecalho__logo:hover {
    color: #FFFEC4;
}

.cabecalho__navegacao {
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    gap: 5vw;
}

.cabecalho__navegacao__link {
    font-size: 1.7rem;
    text-decoration: none;
    color: #FFF7D1;
    font-family: 'Raleway';
}

.cabecalho__navegacao__link:hover {
    text-decoration-line: underline;
    color: #FFD09B;
}

.cabecalho__navegacao__link:active {
    color: #FFB0B0;
}

.cabecalho__navegacao__link:hover::before {
    content: url(../assets/images/icons8-pegada-direita-30.png);
}

.sobre {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5% 0;
}

.sobre__conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sobre__conteudo__subtitulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Dancing_Script';
}

.sobre__conteudo__subtitulos__destaque {
    color: #FF9B9B;
    font-weight: bolder;
}

.sobre__conteudo__texto {
    display: flex;
    align-items: center;
    width: 70vw;
    gap: 5vw;
    margin: 5% 0;
    font-size: 1.3rem;
    font-family: 'Inter';
}

.sobre__conteudo__texto__paragrafo::first-letter {
    font-family: 'Dancing_Script';
    font-size: 1.7rem;
}

.sobre__conteudo__texto__paragrafo__destaque {
    color: #FF9B9B;
    font-weight: bolder;
}

.sobre__conteudo__texto__imagem {
    border-width: 0.2rem;
    border-color: #FF9B9B;
    border-style: solid;
    border-radius: 0.5rem;
    opacity: 0.8;
}

.sobre__conteudo__texto__imagem:hover {
    opacity: 1.0;
}

.sobre__contato__subtitulo {
    font-family: 'Dancing_Script';
    text-align: center;
}

.sobre__contato__links {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
    gap: 5vw;
}

.sobre__contato__links__rede {
    text-decoration: none;
    background-color: #FFD09B;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 1.3rem;
    height: 8vh;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    border-style: outset;
    border-color: #FFECC8;
    padding: 1vw 5vh;
    font-family: 'Inter';
    gap: 5%;
    opacity: 0.8;
}

.sobre__contato__links__rede:hover {
    border-color: #FF9B9B;
    opacity: 1.0;
}

.sobre__contato__links__rede:active {
    color: #FF9B9B;
}

.rodape {
    background-color: #FF9B9B;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    gap: 5px;
    list-style-type: none;
}

.rodape__navegacao {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rodape__endereco__paragrafo, .rodape__paragrafo {
    font-family: 'Raleway';
}

.rodape__paragrafo__destaque {
    font-weight: bolder;
    color: #FFF7D1;
}

.rodape__navegacao__link {
    text-decoration: none;
    color: #FFF7D1;
    font-family: 'Raleway';
}

.rodape__navegacao__link:hover {
    text-decoration-line: underline;
    color: #FFD09B;
}
