@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFEC4;
    box-sizing: border-box;
    height: 100vh;
}

.cabecalho {
    background-color: #FF9B9B;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.cabecalho__logo {
    font-family: 'Qwitcher_Grypen';
    font-size: 70px;
}

.cabecalho__navegacao {
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    gap: 50px;
}

.cabecalho__navegacao__link {
    font-size: 26px;
    text-decoration: none;
    color: #FFF7D1;
    font-family: 'Raleway';
}

.cabecalho__navegacao__link:hover {
    text-decoration-line: underline;
    color: #FFD09B;
}

.sobre {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.sobre__conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sobre__conteudo__subtitulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Dancing_Script';
}

.sobre__conteudo__texto {
    display: flex;
    align-items: center;
    width: 70vw;
    gap: 30px;
    margin: 50px 0;
    font-size: 22px;
    font-family: 'Inter';
}

.sobre__conteudo__subtitulos__destaque {
    color: #FF9B9B;
    font-weight: bolder;
}

.sobre__contato__subtitulo {
    font-family: 'Dancing_Script';
}

.sobre__contato__links {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.sobre__contato__links__rede {
    text-decoration: none;
    background-color: #FFD09B;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 22px;
    width: 10vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-style: outset;
    border-color: #FFECC8;
}

.rodape {
    background-color: #FF9B9B;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    gap: 5px;
    list-style-type: none;
}

.rodape__navegacao {
    display: flex;
    flex-direction: column;
}

.rodape__endereco__paragrafo, .rodape__paragrafo {
    font-family: 'Raleway';
}

.rodape__paragrafo__destaque {
    font-weight: bolder;
    color: #FFF7D1;
}

.rodape__navegacao__link {
    text-decoration: none;
    color: #FFF7D1;
    font-family: 'Raleway';
}