* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFEC4;
    box-sizing: border-box;
    height: 100vh;
}

header {
    background-color: #FF9B9B;
    height: 20vh;
    display: flex;
    justify-content: center;
}

.cabecalho-links {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 50px;
}

.sobre {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.sobre-texto {
    display: flex;
    width: 70vw;
    gap: 0 30px;
    margin: 30px 0;
}

.texto-destaque {
    color: #FF9B9B;
}

footer {
    background-color: #FF9B9B;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.rodape-icones {
    display: flex;
    justify-content: center;
}

.rodape-links {
    display: flex;
    flex-direction: column;
}