@import url('style.css');

.sobre {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5% 0;
}

.sobre__conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sobre__conteudo__subtitulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--fonte-tamanho-subtitulo);
    font-family: var(--fonte-terciaria);
}

.sobre__conteudo__subtitulos__destaque {
    color: var(--cor-quaternaria);
    font-weight: bolder;
}

.sobre__conteudo__texto {
    display: flex;
    align-items: center;
    width: 70vw;
    gap: 5vw;
    margin: var(--espacamento-externo);
    font-size: var(--fonte-tamanho-texto);
    font-family: var(--fonte-secundaria);
}

.sobre__conteudo__texto__paragrafo::first-letter {
    font-family: var(--fonte-terciaria);
    font-size: 1.9rem;
}

.sobre__conteudo__texto__paragrafo__destaque {
    color: var(--cor-quaternaria);
    font-weight: bolder;
}

.sobre__conteudo__texto__imagem {
    border-width: var(--borda-tamanho);
    border-color: var(--cor-terciaria);
    border-style: var(--borda-estilo);
    border-radius: var(--borda-tamanho);
    opacity: 0.8;
}

.sobre__conteudo__texto__imagem:hover {
    opacity: 1.0;
}

.sobre__contato__subtitulo {
    font-family: var(--fonte-terciaria);
    text-align: center;
    font-size: var(--fonte-tamanho-subtitulo);
}

.sobre__tratamentos {
    display: flex;
    flex-direction: column;
}

.sobre__tratamentos__subtitulo {
    font-family: var(--fonte-terciaria);
    text-align: center;
    font-size: var(--fonte-tamanho-subtitulo);
}

.sobre__tratamentos__lista {
    list-style: none;
    list-style-image: url('../assets/images/icone-pes-tratamentos.png');
    margin: var(--espacamento-externo);
}

.sobre__tratamentos__lista__item {
    font-size: var(--fonte-tamanho-texto);
    font-family: var(--fonte-secundaria);
}

.sobre__contato__links {
    display: flex;
    justify-content: space-between;
    margin: var(--espacamento-externo);
    gap: 5vw;
}

.sobre__contato__links__rede {
    text-decoration: none;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-weight: bolder;
    font-size: var(--fonte-tamanho-texto);
    height: 8vh;
    display: flex;
    align-items: center;
    border-radius: var(--borda-tamanho);
    border-style: outset;
    border-color: var(--cor-secundaria);
    padding: 1vw 5vh;
    font-family: var(--fonte-secundaria);
    gap: 5%;
    opacity: 0.8;
}

.sobre__contato__links__rede:hover {
    border-color: var(--cor-terciaria);
    opacity: 1.0;
}

.sobre__contato__links__rede:active {
    color: var(--cor-quaternaria);
}

.sobre__localizacao {
    display: flex;
    flex-direction: column;
    margin: var(--espacamento-externo);
}

.sobre__localizacao__subtitulo {
    font-size: var(--fonte-tamanho-subtitulo);
    font-family: var(--fonte-terciaria);
}

.sobre__localizacao__mapa {
    margin: var(--espacamento-externo);
    width: 50vw;
}

.sobre__horarios {
    display: flex;
    flex-direction: column;
}

.sobre__horarios__subtitulo {
    text-align: center;
    font-family: var(--fonte-terciaria);
    font-size: var(--fonte-tamanho-subtitulo);
}

.sobre__horarios__tabela {
    margin: var(--espacamento-externo);
    border-style: var(--borda-estilo);
    border-width: var(--borda-tamanho);
    font-size: var(--fonte-tamanho-texto);
    width: 40vw;
}

.sobre__horarios__tabela,
.sobre__horarios__tabela__cabecalho, 
.sobre__horarios__tabela__cabecalho__linha__coluna, 
.sobre__horarios__tabela__corpo__linha, 
.sobre__horarios__tabela__corpo__linha__coluna {
    border-style: var(--borda-estilo);
    border-width: var(--borda-tamanho);
    padding: 0.4rem;
    text-align: center;
}

.sobre__horarios__tabela, .sobre__horarios__tabela thead, 
.sobre__horarios__tabela__cabecalho__linha__coluna, 
.sobre__horarios__tabela__cabecalho__linha, 
.sobre__horarios__tabela__corpo__linha__coluna {
    border-width: var(--borda-tamanho);
    border-color: var(--cor-quaternaria);
    border-style: var(--borda-estilo);
    border-radius: var(--borda-tamanho);
    background-color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
}

@media (max-width: 480px) {
    .sobre__conteudo__texto {
        flex-direction: column;
        width: 100%;
    }

    .sobre__localizacao {
        align-items: center;
    }

    .sobre__localizacao__subtitulo {
        text-align: center;
    }

    .sobre__localizacao__mapa {
        width: 90%;
    }

    .sobre__contato__links {
        flex-direction: column;
        align-items: center;
    }

    .sobre__contato__links__rede {
        width: 40%;
    }

    .sobre__horarios__tabela {
        width: 100%;
    }
}