@import url('style.css');

.cabecalho {
    background-color: var(--cor-quaternaria);
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 4%;
}

.cabecalho__logo {
    font-family: var(--fonte-primaria);
    font-size: 4rem;
}

.cabecalho__logo:hover {
    color: var(--cor-primaria);
}

.cabecalho__navegacao {
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    gap: 5vw;
}

.cabecalho__navegacao__link {
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: var(--fonte-quaternaria);
    transition: all 0.5s ease-in-out;
}

.cabecalho__navegacao__link:hover {
    text-decoration-line: underline;
    color: var(--cor-terciaria);
}

.cabecalho__navegacao__link:active {
    color: var(--cor-quaternaria);
}

.cabecalho__navegacao__link:hover::before {
    content: url(../assets/images/icone-pe-cabecalho.png);
}