@import url('style.css');

.cabecalho {
    background-color: var(--cor-quaternaria);
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 4%;
}

.cabecalho__logo {
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-tamanho-titulo);
}

.cabecalho__logo:hover {
    color: var(--cor-primaria);
}

.cabecalho__navegacao {
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    gap: 5vw;
}

.cabecalho__navegacao__link {
    font-size: var(--fonte-tamanho-subtitulo);
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: var(--fonte-quaternaria);
}

.cabecalho__navegacao__link:hover {
    text-decoration-line: underline;
    color: var(--cor-terciaria);
}

.cabecalho__navegacao__link:active {
    color: var(--cor-quaternaria);
}

.cabecalho__navegacao__link:hover::before {
    content: url(../assets/images/icone-pe-cabecalho.png);
}

@media (min-width: 480px) and (max-width: 767px) {
    .cabecalho {
        display: block;
        height: 40vh;
        padding: 5% 0;
        text-align: center;
    }

    .cabecalho__navegacao {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 4% 0;
        gap: 1vh;
    }
}

@media (max-width: 479px) {
    .cabecalho {
        display: block;
        height: 35vh;
        padding: 5% 0;
        text-align: center;
    }

    .cabecalho__navegacao {
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin: 4% 0;
    }
}