/** Arquivo CSS para acumular códigos de estilizações globais do site, como também variáveis **/

@import url('fonts.css');

:root {
    --cor-primaria: #FFF7D1;
    --cor-secundaria: #FFECC8;
    --cor-terciaria: #FFD09B;
    --cor-quaternaria: #FFB0B0;

    --fonte-primaria: 'Qwitcher_Grypen';
    --fonte-secundaria: 'Inter';
    --fonte-terciaria: 'Dancing_Script';
    --fonte-quaternaria: 'Raleway';

    --fonte-tamanho-titulo: 4rem;
    --fonte-tamanho-subtitulo: 1.5rem;
    --fonte-tamanho-texto: 1.3rem;
    --fonte-tamanho-rodape: 1rem;

    --espacamento-externo: 5% 0;

    --borda-tamanho: 0.2rem;
    --borda-estilo: solid;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    box-sizing: border-box;
    height: 100vh;
}

p::selection, h1::selection, h2::selection, h3::selection, a::selection, span::selection {
    color: var(--cor-primaria);
    background: var(--cor-quaternaria);
}
